.parcellab-styles

   .pl-header
      #pl-order-no.pl-order-no
         text-align: center !important
         font-size: 28px
         color: black
         opacity: 1
         font-weight: 600
         margin-bottom: 6px
      #pl-order-sub.pl-order-sub
         text-align: center
         font-size: 16px
         margin-bottom: 24px

   #order-status-container
      height: auto
      margin-bottom: 30px

      .order-status-header
         padding-top: 0

      .loading-bar
         width: 100%
         height: 6px
         background-color: #F3F3F3
         border-radius: 25px
         position: relative

         .loading-bar-inner
            position: absolute
            height: 6px
            background-color: #B2831B
            border-radius: 25px

      .order-status-labels
         display: flex
         justify-content: space-between
         margin-top: 10px

         span
            color: #767676

   button#pl-show-more-button
      color: #B2831B
      padding: 0 0 5px 0
      width: auto
      border-radius: 0
      border-bottom: 1px #B2831B solid

   #pl-courier-fwd-link
      text-align: left
      text-decoration: underline
      font-weight: 600

      div
         text-decoration: none !important
         font-weight: 300

   .pl-checkpoint-status-details
      a
         text-decoration: underline
         font-weight: 600

   .pl-box-heading
      font-weight: 600

   .pl-tab.pl-active
      border: 1px solid #BEBEBE

   .pl-rating-body
      gap: 16px

      .pl-courier-vote
         border: 1px solid #959595 !important
